<% layout('layouts/boilerplate') %>

    <div class="row mb-4">
        <div class="text-center">
            <h1>New Campground</h1>
        </div>

        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" class="form-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label for="name" class="form-label">Camp Name:</label>
                    <input class="form-control" type="text" id="name" name="Campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid camp name
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location/Site:</label>
                    <input class="form-control" type="text" id="location" name="Campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid location
                    </div>
                </div>

                <div class="mb-3">
                    <!-- <label for="image" class="form-label">Image Url</label>
                    <input class="form-control" type="text" id="image" name="Campground[image]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid Image Url
                    </div> -->
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" id="images" name="image" multiple>

                    </div>
                </div>

                <div class="mb-3">
                    <label for="price" class="form-label">Campground Price</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="number" class="form-control" name="Campground[price]" id="price"
                            aria-label="Amount (to the nearest dollar)" aria-describedby="price-label" required>
                        <span class="input-group-text">.00</span>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a price
                        </div>
                    </div>
                </div>



                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="Campground[description]" rows="5"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>



                <button class="btn btn-success mb-3">ADD</button>
            </form>
            <a href="/campgrounds">All Campgrounds</a>
        </div>
    </div>